body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

body section {
    height: 70vh;
    background: url(../img/imagenFondoCerezos.png) no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: auto;
}

.tablaAdmin table{
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    /* border: 3px solid black ; */
    background-color: white;
    font-family: 'lato';    
    font-size: 13px;
    text-align: center;
    height: 10px;
    /* Si hay espacio a los lados, poner la misma cantidad a ambos lados */
    margin:auto;
    /* margen de abajo */
    margin-top: 3rem;
}

.tablaAdmin th, td{
    padding: 15px;
    letter-spacing: 1px;
}

.tablaAdmin tr{
    border: 1px solid black ;
}
.tablaAdmin th{
    background-color: #F2ECEB;
}

.boton-añadir button{
    margin-top: 2rem;

    /* Margen de la isquierda */
    margin-left: 4.2rem;

    /* Margen de abajo */
    margin-bottom: 1.5rem;
    background-color: #B69696;

    /* para aumentar el tamaño del elemento */
    padding: 0.5rem;

    /* Para poner los bordes redondos */
    border-radius: 0.5rem;
    border: none;
}

.boton-añadir a{
    text-decoration: none;
    font-size: 13px;
    color: white;
}

.botones-consulta{
    margin-left: 4.3rem;
    margin-top: 2rem;
    display: flex;
    
}

.botones-consulta input{
    margin-right: 0.5rem;
    margin-left: 1rem;
    border: none;
    padding: 0.3rem;
    border-radius: 0.3rem;
}



.botones-consulta label{
    color: white;
    font-family: "lato";
    font-size: 15px;
}