.registro {
    font-family: "Lato", sans-serif;
    display: flex;
    min-height: 55vh;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.registro > form {
    padding: 1.5em 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 120%;
    max-width: 500px;
    background-color: white;
}

.registro .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.registro h1 {
    font-weight: 400;
    margin-bottom: 0.5em;
}

.registro h5 {
    font-size: 0.75em;
    font-weight: 400;
    color: #666666;
    margin-top: 0.25em;
}

.registro label {
    font-size: 0.9em;
    color: black;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0px;
}

.registro input {
    border: 1px solid #adadad;
    padding: 0.5em 1em;
    border-radius: 3px;
}

.registro .form-txt {
    justify-content: center;
    margin-top: 1em;
}

.registro .form-txt a {
    color: #b5b5b5;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
    transition: color 0.4s;
}

.registro .form-txt a:hover {
    color: #666;
}

.registro input[type="submit"] {
    border: 0;
    padding: 0.75em 2.5em;
    width: fit-content;
    margin-top: 2em;
    color: whitesmoke;
    background-color: #BF9FA1;
    text-align: center;
    font-family: "Lato", sans-serif;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s;
}

.registro input[type="submit"]:hover {
    color: #fff;
    background-color: #8c7275;
    font-weight: bold;
}

