
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 0;
  height: auto;
  /* border: thin solid #222; */

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.contenedor {
  /* border: thin solid #222; */
  margin: 0px 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.contenedor > .imgProducto {
  border: thin solid #b19091;
  width: 230px;
  height: 300px;

  background-image: url('../img/imagenFondoCerezos.png');
  background-size: cover;
}

.contenedor>.formImg>label {
  margin: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;

  display: inline-flex;
}

.contenedor>.formImg>label>span {
  width: 20px;
  height: 20px;
  background-image: url('../../assets/img/editarGaleria.png');
  background-size: cover;
}

.contenedor>.formImg>input {
  display: none;
}

.formText {

  display: flex;
  flex-flow: column nowrap;
}

.formText > div{
  /* border: thin solid #222; */
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.formText > button {
  margin-top: 80px;
  padding: 5px 40px;
  background-color: #b19091;
  border: 5px solid #b19091;
  border-radius: 3px;
  color: #fff;
  font-weight: bolder;

  align-self: flex-end ;
  transition-duration: 1s;
}

.formText>button:hover {
  cursor: pointer;
  background-color: #8d7373;
  border: 5px solid #8d7373;
  
}

.formText > div > input {
  margin-left: 20px;
  padding: 3px 20px 3px 10px;
}

.formText>div>input:focus{
  border: 3px solid #b19091;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  outline: none;
}

.formText >div > input[type="number"]#value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formText>div > #description{
  padding: 3.5px 20px 3.5px 10px;
  resize: none;
}

.formText>div>#description:focus{
  border: 3px solid #b19091;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  border-radius: 5px;
  outline: none;
}